.HowItWorks {
    @include clearfix;
    display: block;
    width: 840px;
    margin: 0 auto;
    padding: 30px 0;

    &--headline {
        text-align: center;
        font-size: 44px;
        margin: 0;
    }
    &--column {
        float: left;
        width: 33%;

        &-headline {
            text-align: center;
        }
    }

    &--icon {
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    &--text {
        text-align: center;
        padding: 0 10px;
    }
    &--link {
        display: block;
        margin: 0 auto;
    }
}